<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8">
<title>Create user</title>

</head>

<body>
<form action="#" th:action="@{/update-task}" th:object="${task}" method="post">
    <label for="id">ID</label>
    <input readonly type="number" th:field="*{id}" id="id" placeholder="ID">
    <br/>
    <label for="descriptionOfTask">Description of Task</label>
    <input type="text" th:field="*{descriptionOfTask}" id="descriptionOfTask" placeholder="New description">
    <br/>
    <label for="deadLine">Deadline</label>
    <input type="datetime-local" th:field="*{deadLine}" id="deadLine" placeholder="New deadline">
    <br/>
    <input type="submit" value="Update task">

    <label for="favoriteTask"> My favorite task</label>
    <input type="text" th:field="favoriteTask" id="favoriteTask">


</form>

</body>
</html>